/* TEXT COLORS */
$white1: #ffffff;
$white2: #DEDEDE;
$white3: #a6a6a6;
$white4: rgb(207, 207, 207);

/* GRAYS ......... 1 = lightest */
$gray1: #444D56;
$gray2: #2F363D;
$gray3: #24292E; //secondary
$gray4: #1E1D24; //background
$gray5: #141414; 

$purp: #BB6BD9;
$purp2: #D1B5FF;
$green: #7AEB8C;

/* FONTS */
@font-face {
    font-family: 'GT';
    src: url(../fonts/GTWalsheimProRegular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'GT';
    src: url(../fonts/GTWalsheimProBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Mont';
    src: url(../fonts/Montserrat-Normal.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'Mont';
    src: url(../fonts/Montserrat-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'Mont';
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: 500;
}
@font-face {
    font-family: 'Mont';
    src: url(../fonts/Montserrat-ExtraBold.otf);
    font-weight: bolder;
}
@font-face {
    font-family: 'Mont';
    src: url(../fonts/Montserrat-Black.otf);
    font-weight: 900;
}
@font-face {
    font-family: 'Mont';
    src: url(../fonts/Montserrat-Light.otf);
    font-weight: lighter;
}
@font-face {
    font-family: 'Mont';
    src: url(../fonts/Montserrat-Thin.otf);
    font-weight: 100;
}


html{
    font-size: .8rem;
    color: $white2;
    background-color: $gray4;
    font-family: 'GT';
}

body {
    margin: 0px;
    padding: 0px;
}

a{
    color: $purp;
    text-decoration: none;
    letter-spacing: 3px;
}

a:hover{
    color: $purp2;
}

.active{
    background-color: $purp;
    color: $white1;
}

.active:hover{
    color: $white1;
}

b{
    color: $white1;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }

