body{
    background: #24292e;
    color:white;
}

.navbar{
    background: none;
}

#intro{
    min-height: 300px;
    background: rgba(255, 230, 0, 0.774);
}

.col{
    background: orange;
    display: block;
    margin: 0;
    align-content: center;
}

.card{
    color: brown;
}

.card-body{
    padding: 15px;
}