@import '../../scss/Reset.scss';

// ================================= INTRO
.intro-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 100px 0px 0px 0px;
}

.introtext-wrap{
    max-width: 66%;
}

.pic-wrap{
    align-content: center;
    margin: 0px 40px 0px 40px;

}

footer{
    text-align: center;
}

// ================================= PROJECTS
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.proj-wrap {
    max-width: 1000px;
    margin: auto;
    align-content: center;
}

.proj {
    margin: 30px 0px 30px 0px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

button {
    text-align: center;
    border: none;
    color: $purp;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
    width: 100%;
    background-color: $gray3;
}
button:hover{
    cursor: pointer;
}

.p-inside {
    position: relative;
    grid-column: 1 / 7;
    grid-row: 1 / -1;

    .p-subtitle {
        color: $white1;
        font-family: monospace;
        font-size: 1rem;
    }
    .p-title {
        font-size: 2rem;
        margin: 10px 0 30px;
        color: $white1
    }

    .p-desc {
        font-size: 15px;
        line-height: 1.5;
        color: $white3;

        p {
        background-color: $gray4;
        padding: 20px 25px 10px 25px;
        }

        ul {
        display: flex;
        margin-top: 20px;

            li {
                margin-right: 20px;
                color: $white3;
                font-family: monospace;
            }
        }
    }
}

.p-img {
  position: relative;
  z-index: -1;

  border-radius: 2px;
  grid-column: 6 / -1;
  grid-row: 1 / -1;

  img {
    border-radius: 2px;
    position: relative;
    max-width: 100%;
  }
}



// =============================
//
// FIXING FOR MOBILE SCREENS
//
// =============================
@media screen and (max-width: 500px) {
	.mobile-wrap{
		width: 100%;
	}
    .main-wrap{
        margin: 10px 10px 0px 10px;
    }

    .logo-wrap{
       display: none;
    }
    
    .nav-wrap {
		@extend .mobile-wrap;
    }
	
	.name-wrap{
		@extend .mobile-wrap;
	}
}