@import '../../scss/Reset.scss';

// ================================= INTRO
.intro-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 0px 50px 100px;
}

.introtext-wrap{
    max-width: 66%;
}

.pic-wrap{
    align-content: center;
    margin: 0px 40px 0px 40px;

}

.ope{
    border: 2px solid $gray1;
    margin-bottom: 50px;
}

footer{
    text-align: center;
}

// ================================= PROJECTS
.proj-wrap {
    max-width: 1000px;
    margin: 100px auto 50px auto;
    align-content: center;
    
    ul, ol {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.proj {
    margin: 30px 0px 30px 0px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

button {
    text-align: left;
    border: none;
    color: $purp;
    padding: 10px 0px 10px 0px;
    width: 100%;
    background-color: $gray5;
    font-family: 'GT';
    font-size: 15px;
    letter-spacing: 1.5px;
}
button:hover{
    cursor: pointer;
    color: $purp2;
}

.p-inside {
    z-index: 1;
    position: relative;
    grid-column: 1 / 7;
    grid-row: 1 / -1;

    .p-subtitle { //subtitle
        color: $purp2;
        font-family: 'Mont';
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .p-title { //actual title
        font-size: 30px;
        margin: 1px 0 25px;
        color: $white1
    }

    .p-desc {
        font-size: 15px;
        line-height: 1.5;
        color: $white2;

        p { //box color
        background-color: $gray5;
        padding: 20px 25px 10px 25px;
        }

        ul {
        display: flex;
        margin-top: 10px;
        font-size: 1rem;

            li {
                margin-right: 20px;
                color: $white3;
                font-family: 'Mont';
                letter-spacing: 1px;
            }
        }
    }
}

.p-img {
  position: relative;
  z-index: 0;

  border-radius: 2px;
  grid-column: 6 / -1;
  grid-row: 1 / -1;

  img {
    border-radius: 2px;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
  }
}

#projSeeMore{
    background-color: $gray4;
}

// ================================= PROJECTS
.extra {
    margin: 30px;
    max-width: 1000px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    img {
        display: block;
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .c1{grid-column: 1;}
    .c2{grid-column: 2;}
    .c3{grid-column: 3;}

    .flexes{
        display: flex;
        flex-direction: column;
        max-width: 300px;

        img{
            max-width: 100%;
            border-radius: 3px;
        }

        .end{
            margin-bottom: 30px;
        }
    }
}



// =============================
//
// FIXING FOR MOBILE SCREENS
//
// =============================
@media screen and (max-width: 500px) {
	.mobile-wrap{
		width: 100%;
	}
    .main-wrap{
        margin: 10px 10px 0px 10px;
    }

    .logo-wrap{
       display: none;
    }
    
    .nav-wrap {
		@extend .mobile-wrap;
    }
	
	.name-wrap{
		@extend .mobile-wrap;
	}
}